body {
  background-color: #999999;
  font-family: Corbel;
  font-size: 25px;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}

header {
  grid-column: span 3;
}

nav {
  grid-column: span 9;
  grid-row: span 2;
}

nav li a{
  color: #000000;
  padding: 10px;
  padding-top: 40px;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
}

ul li {
  display: inline-block;
  padding: 10px;
  margin: 10px;

}

main {
  grid-column: span 12;
  text-align: center;
}

main img {
  margin: 27px;
  border: 0px solid red;
  padding: 0px;
}
